<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@500;600;700&family=Montserrat:wght@400;500;600&display=swap"
        rel="stylesheet">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>

<body>
    <table width="100%" style="border: none;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="text-align: center;">
                <img style="width: 75%;" src="https://amplio.herokuapp.com/static/home/images/logo.svg">
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <p style="font-family: 'Montserrat', sans-serif;font-size: 15px;font-weight: 500;margin-top: 2em;text-align: center;">
                    {{content}}
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <p style="font-family: 'Montserrat', sans-serif;font-size: 15px;font-weight: 500;margin-top: 2em;text-align: center;">
                    If you have any questions, please contact us at <a style="color: #587c9c;" href="mailto:amplioprep@gmail.com">amplioprep@gmail.com</a> and a member from our team will provide further assistance.
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <hr style="margin: 2em 0em;color: #587c9c;">
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <a href="https://www.instagram.com/amplio_prep">
                    <!-- <img style="width: 30px;height: 30px;margin-right: .5em;" src="cid:instagram.png"> -->
                    <img style="width: 30px;height: 30px;margin-right: .5em;" src="https://amplio.herokuapp.com/static/home/images/instagram.png">
                </a>
                <a href="https://twitter.com/amplioprep">
                    <!-- <img style="width: 30px;height: 30px;margin-left: .5em;margin-right: .5em;" src="cid:twitter.png"> -->
                    <img style="width: 30px;height: 30px;margin-left: .5em;margin-right: .5em;" src="https://amplio.herokuapp.com/static/home/images/twitter.png">
                </a>
                <a href="https://amplio.herokuapp.com/">
                    <!-- <img style="width: 30px;height: 30px;margin-left: .5em;" src="cid:web.png"> -->
                    <img style="width: 30px;height: 30px;margin-left: .5em;" src="https://amplio.herokuapp.com/static/home/images/web.png">
                </a>
            </td>
        </tr>
    </table>
</body>

</html>