<!DOCTYPE html>
<html>

<head>
    <title>Amplio | Webinar Sign Up</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'forms/webinar/webinar.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'home/images/favicon.png' %}"/>
    <link
        href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600;700&family=Montserrat:wght@500;600&display=swap"
        rel="stylesheet">
</head>

<body>
    {% for message in messages %}
    <div class="floatmessage">{{ message }}</div>
    {% endfor %}
    <header>
        <img src="{% static 'home/images/logo.svg' %}">
        <svg viewBox="0 0 79 78" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M10.2432 19.4121H68.3544V25.8689H10.2432V19.4121ZM10.2432 35.5541H68.3544V42.0109H10.2432V35.5541ZM10.2432 51.6962H68.3544V58.153H10.2432V51.6962Z"
                fill="black" />
        </svg>
    </header>
<div class="container">
    <div class="buttons">
        <h1>
            Let’s Get Started
        </h1>
        <h2>
            With just a few simple steps, you will be registered for our comprehensive ACT prep session for students of all skill levels.
        </h2>
        <form method="POST">
            {% csrf_token %}
            <div class="formrow">
                <div class="labeledelement">
                    <div>
                        Name
                    </div>
                    <input type="text" name="name" required>
                </div>
                <div class="labeledelement">
                    <div>
                        Grade
                    </div>
                    <select name="grade" required>
                        <option value="6">6th</option>
                        <option value="7">7th</option>
                        <option value="8">8th</option>
                        <option value="9">9th</option>
                        <option value="10">10th</option>
                        <option value="11">11th</option>
                        <option value="12">12th</option>
                    </select>
                </div>
            </div>
            <div class="formrow">
                <div class="labeledelement">
                    <div>
                        Email
                    </div>
                    <input type="email" name="email" required>
                </div>
                <div class="labeledelement">
                    <div>
                        Webinar Date
                    </div>
                    <select name="date" required>
                        <option value="July 24">July 24</option>
                    </select>
                </div>
            </div>
            <div class="labeledelement">
                <div>
                    What do you want to see in this webinar?
                </div>
                <textarea name="extraInfo" required></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="imagecol">
        <img class="platformsimg" src="{% static 'home/images/platforms.png' %}">
        <!-- <div class="logowrapper">
            <img src="{% static 'home/images/logo.svg' %}">
        </div> -->
    </div>
</div>
</body>

</html>