<!DOCTYPE html>
<html>

<head>
    <title>Amplio | Futures Made Here</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/styles/home.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="{% static 'home/scripts/main.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'home/images/favicon.png' %}"/>
    <link
        href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600;700&family=Montserrat:wght@500;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- <div class="floatmessage">Join Us for Our July 24th Webinar<a href="/forms/webinar">Register Here</a></div> -->
    <section class="headsection">
        <div class="headsection-top">
            <header>
                <img src="{% static 'home/images/logo.svg' %}">
                <svg viewBox="0 0 79 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.2432 19.4121H68.3544V25.8689H10.2432V19.4121ZM10.2432 35.5541H68.3544V42.0109H10.2432V35.5541ZM10.2432 51.6962H68.3544V58.153H10.2432V51.6962Z"
                        fill="black" />
                </svg>
            </header>
            <div class="headsection-wrapper">
                <div class="headsection-wrapper-content">
                    <h1>Attain your dream score <span>here</span></h1>
                    <p>With Amplio, you will learn and practice strategies and techniques that are essential to
                        achieving
                        your target score.</p>
                    <button><a href="#techniques">See How</a></button>
                </div>
                <div class="headsection-wrapper-platforms"></div>
            </div>
            <img class="headsection-waves" src="{% static 'home/images/waves.svg' %}">
        </div>
        <div class="headsection-sub" id="techniques">
            <div class="headsection-sub-text">
                <h2>
                    A repeatable <span>strategy</span> proven to work every time
                </h2>
                <p>
                    Out with old, useless methods. Amplio provides strategies that have been proven time and
                    time again.
                    Our simple primary
                    stage processes will help you reach that dream score you envy.
                </p>
            </div>
            <div class="headsection-sub-scroll">
                <div class="headsection-sub-scroll-img">
                    <img src="{% static 'home/images/layers1.svg' %}">
                </div>
                <div class="headsection-sub-scroll-wrapper">
                    <div>
                        <div class="headsection-sub-scroll-wrapper-content-scrollable">
                            <div class="headsection-scrollnode">
                                <h2>
                                    Learn
                                </h2>
                                <p>
                                    Learn the strategies essential to obtaining your target score.
                                </p>
                            </div>
                            <div class="headsection-scrollnode">
                                <h2>
                                    Practice
                                </h2>
                                <p>
                                    Build confidence in your newly learned strategies with consistent practice.
                                </p>
                            </div>
                            <div class="headsection-scrollnode">
                                <h2>
                                    Apply
                                </h2>
                                <p>
                                    Take the actual test with the ease and confidence you deserve.
                                </p>
                            </div> 
                        </div>
                        <div class="headsection-scrollpositionindicatorwrapper">
                            <div
                                class="headsection-scrollpositionindicator headsection-scrollpositionindicator-selected">
                            </div>
                            <div class="headsection-scrollpositionindicator"></div>
                            <div class="headsection-scrollpositionindicator"></div>
                        </div>
                    </div>
                    <img id="nextbutton" src="{% static 'home/images/chevron.svg' %}">
                </div>
            </div>
    </section>
    <section class="ecosection">
        <div class="ecosection-contentwrapper">
            <h1>
                One Ecosystem,<br><span>Endless</span> Opportunities
            </h1>
            <div class="ecosystem-platformwrapper">
                <div class="ecosystem-platformnode">
                    <h4>
                        Mobile App
                    </h4>
                    <div class="ecosystem-platformnode-statsize">
                        <p>
                            Our app allows students to learn strategies or practice topics on mobile and desktop
                            platforms.
                        </p>
                        <div class="ecosystem-platformnode-statwrapper">
                            <div class="ecosystem-platformnode-statsec">
                                <div>520+</div>
                                <div>LESSONS</div>
                            </div>
                            <div class="ecosystem-platformnode-statsec">
                                <div>10,000+</div>
                                <div>PRACTICE QUESTIONS</div>
                            </div>
                        </div>
                    </div>
                    <div class="ecosystem-platformnode-disabledbutton" id="disabledbutton1"><a href="#app">Available This Fall</a></div>
                </div>
                <div class="ecosystem-platformnode">
                    <h4>
                        Discord Community
                    </h4>
                    <div class="ecosystem-platformnode-statsize">
                        <p>
                            Join our community of focused individuals. Ask questions, join study sessions and
                            collaborate
                            with your fellow students.
                        </p>
                        <div class="ecosystem-platformnode-statwrapper">
                            <div class="ecosystem-platformnode-statsec">
                                <div>300</div>
                                <div>TEACHERS</div>
                            </div>
                            <div class="ecosystem-platformnode-statsec">
                                <div>7,000+</div>
                                <div>ACTIVE MEMBERS</div>
                            </div>
                        </div>
                    </div>
                    <div class="ecosystem-platformnode-disabledbutton" id="disabledbutton2"><a href="https://discord.gg/ucvJnUhf23">Join Now</a></div>
                </div>
                <div class="ecosystem-platformnode">
                    <h4>
                        Interactive Webinars
                    </h4>
                    <div class="ecosystem-platformnode-statsize">
                        <p>
                            With live webinars, students can tune in to refine their skills and get questions answered
                            in
                            real time.
                        </p>
                        <div class="ecosystem-platformnode-statwrapper">
                            <div class="ecosystem-platformnode-statsec">
                                <div>1</div>
                                <div>PER MONTH</div>
                            </div>
                            <div class="ecosystem-platformnode-statsec">
                                <div>2</div>
                                <div>HOURS LONG</div>
                            </div>
                        </div>
                    </div>

                    <div class="ecosystem-platformnode-disabledbutton" id="disabledbutton3"><a href="/forms/webinar">Register Now</a></div>
                </div>
            </div>
        </div>
        <div class="ecosection-bloblayer">
            <img src="{% static 'home/images/blob 4.svg' %}">
            <img src="{% static 'home/images/blob 3.svg' %}">
        </div>
    </section>
    <section class="appsection" id="app">
        <div class="appsection-contentlayer">
            <div class="appsection-contentlayer-wrapper">
                <div class="appsection-contentlayer-col1">
                    <div class="appsection-contentlayer-availabilty">Available this fall</div>
                    <div class="appsection-contentlayer-col1-header">
                        <h2>
                            A <span>modern</span> app designed to help you study efficiently
                        </h2>
                    </div>
                    <div class="appsection-contentlayer-col1-descwrapper">
                        <div class="appsection-contentlayer-col1-desc-row">
                            <div class="appsection-contentlayer-node">
                                <img src="{% static 'home/images/brain.svg' %}">
                                <h4>
                                    Tailored Practice
                                </h4>
                                <p>
                                    With Smart AI, Amplio will provide smarter problems for you. The more you
                                    practice,
                                    the
                                    better your responses get.
                                </p>
                            </div>
                            <div class="appsection-contentlayer-node">
                                <img src="{% static 'home/images/community.svg' %}">
                                <h4>
                                    Connected Community
                                </h4>
                                <p>
                                    With Smart AI, Amplio will provide smarter problems for you. The more you practice,
                                    the better your responses get.
                                </p>
                            </div>
                        </div>
                        <div class="appsection-contentlayer-col1-desc-row">
                            <div class="appsection-contentlayer-node">
                                <img src="{% static 'home/images/bell.svg' %}">
                                <h4>
                                    Smart Notifications
                                </h4>
                                <p>
                                    With Smart Notifications, you’ll never miss your practice and you’ll always be on
                                    track.
                                </p>
                            </div>
                            <div class="appsection-contentlayer-node">
                                <img src="{% static 'home/images/pencil.svg' %}">
                                <h4>
                                    Progress Tracking
                                </h4>
                                <p>
                                    As you move through the practice modules, every question and all your progress is
                                    tracked so you always know where
                                    you're at.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="appsection-contentlayer-app" src="{% static 'home/images/app.svg' %}">
            </div>
            <div class="appsection-bloblayer">
                <img src="{% static 'home/images/blob 2.svg' %}">
                <img src="{% static 'home/images/blob 1.svg' %}">
            </div>
    </section>
    <section class="feedback">
        <h1>What our <span>students</span> say</h1>
        <div class="feedback-wrapper">
            <div class="feedback-node feedbackshade1">
                <div class="feedback-node-title">
                    <h3>Raksheet K.</h3>
                    <h4>Sophomore at Olentangy Liberty</h4>
                </div>
                <p>
                    Amplio is amazing! Their strategies allowed me to improve my score from a 29 to a 33!
                </p>
            </div>
            <div class="feedback-node feedbackshade2">
                <div class="feedback-node-title">
                    <h3>John S.</h3>
                    <h4>Freshman at Olentangy Orange</h4>
                </div>
                <p>
                    By utilizing Amplio's free ACT prep webinars, I was able to acheive my dream score!
                </p>
            </div>
            <div class="feedback-node feedbackshade3">
                <div class="feedback-node-title">
                    <h3>Sanjay O.</h3>
                    <h4>Freshman at Dublin Jerome</h4>
                </div>
                <p>
                    I've tried several different tutoring services before, but nothing has helped me as much as Amplio.
                </p>
            </div>
            <div class="feedback-node feedbackshade1">
                <div class="feedback-node-title">
                    <h3>Josh A.</h3>
                    <h4>Junior at Olentangy Berlin</h4>
                </div>
                <p>
                    Amplio's comprehensive webinars have taught me essentials skills that have boosted my score and made me a competitive applicant.
                </p>
            </div>
            <div class="feedback-node feedbackshade2">
                <div class="feedback-node-title">
                    <h3>Harshi V.</h3>
                    <h4>Senior at Gahanna Lincoln</h4>
                </div>
                <p>
                    Amplio helped me raise my score by 3 points. Their webinars gave me the confidence I needed to reach my dream score! 
                </p>
            </div>
            <div class="feedback-node feedbackshade3">
                <div class="feedback-node-title">
                    <h3>Ritesh J.</h3>
                    <h4>Sophomore at Olentangy Liberty</h4>
                </div>
                <p>
                    Amplio's webinars boosted my score from a 33 to a 36! I highly recommend Amplio to anyone looking for high quality ACT prep material!
                </p>
            </div>
            <div class="feedback-node feedbackshade1">
                <div class="feedback-node-title">
                    <h3>Taylor S.</h3>
                    <h4>Senior at Gahanna Lincoln</h4>
                </div>
                <p>
                    I've tried material from several different companies, but Amplio was the only company that had material that help me acheive my dream score!
                </p>
            </div>
            <div class="feedback-node feedbackshade2">
                <div class="feedback-node-title">
                    <h3>Udbhav P.</h3>
                    <h4>Freshman at Dublin Coffman</h4>
                </div>
                <p>
                    Amplio's prep material is simply unmatched. The strategies are taught extremely well and allow students to boost their scores extremely easily.
                </p>
            </div>
            <div class="feedback-node feedbackshade3">
                <div class="feedback-node-title">
                    <h3>Samhit L.</h3>
                    <h4>Sophomore at Hilliard Davidson</h4>
                </div>
                <p>
                    Amplio has the best prep material in the game! I could not have gotten my dream score without them. 
                </p>
            </div>
        </div>
    </section>
    <section class="webinar">
        <div class="webinar-inner">
            <div class="webinar-content">
                <h1>
                    Sign Up for an Upcoming Webinar
                </h1>
                <button onclick="window.location.href='/forms/webinar'">Register</button>
            </div>
            <div class="webinar-background">
                <img src="{% static 'home/images/webinar-circle1.svg' %}">
                <img src="{% static 'home/images/webinar-circle2.svg' %}">
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-colwrapper">
            <div class="footer-col">
                <img src="{% static 'home/images/logo-white.svg' %}">
                <p>
                    Amplio is focused on allowing students to unlock their dream scores on the ACT.
                </p>
            </div>
            <div class="footer-col">
                <div class="footer-col-title">
                    Resources
                </div>
                <a href="#app">Android App</a>
                <a href="#app">iOS App</a>
                <a href="forms/webinars">Webinars</a>
            </div>
            <div class="footer-col">
                <div class="footer-col-title">
                    Social Media
                </div>
                <a href="https://discord.gg/ucvJnUhf23">Discord</a>
                <a href="https://www.instagram.com/amplio_prep/">Instagram</a>
                <a href="https://twitter.com/amplioprep">Twitter</a>
            </div>
            <div class="footer-col">
                <div class="footer-col-title">
                    Misc.
                </div>
                <a href="#">Contact Us</a>
                <a href="#">About Us</a>
                <a href="#">Log In</a>
            </div>
        </div>
        <div class="footer-sub">
            <div class="footer-sub-sync">
                <div>A technology by</div>
                <img src="{% static 'home/images/sync.png' %}">
            </div>
            <div class="footer-sub-copy">
                &copy;Amplio, a unit of Syncronosys. All rights reserved. All trademarks are property of their
                respective owners.
            </div>
        </div>
    </footer>
</body>

</html>