<!DOCTYPE html>
<html>

<head>
    <title>Amplio | Server Error</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage/styles/main.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'homepage/images/favicon.png' %}"/>
    <link
        href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600;700&family=Montserrat:wght@500;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="topsection">
        <div class="headsection-top">
            <header>
                <img src="{% static 'homepage/images/logo.svg' %}">
                <svg viewBox="0 0 79 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.2432 19.4121H68.3544V25.8689H10.2432V19.4121ZM10.2432 35.5541H68.3544V42.0109H10.2432V35.5541ZM10.2432 51.6962H68.3544V58.153H10.2432V51.6962Z"
                        fill="black" />
                </svg>
            </header>
            <div class="section-wrapper">
                <h1 class="headsection-title">Server Error</h1>
                <p class="headsection-text">We were not able to process your request due to a server error. Please try again later.</p>
                <button class="headsection-button" onclick="window.location.href='/'">Return Home</button>
            </div>
        </div>
    </section>
</body>

</html>