* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    margin: 0;
}

body {
    background: linear-gradient(217deg, rgba(142,162,180,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(214,214,214,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(176,185,194,.8), rgba(0,0,255,0) 70.71%);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Montserrat', sans-serif;

    padding: 0% 5% 2% 5%;

    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imagecol {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.imagecol img {
    justify-self: flex-end;
}
header {
    display: flex;
    align-items: center;
    padding: 2% 0% 4% 0%;
}
header svg {
    width: 3em;
    margin-left: auto;
}
header img {
    height: 2.5em;
}
.buttons {
    width: 50%;
    display: flex;
    flex-direction: column;

    padding-right: 5%;
}
.buttons h1 {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 300%;
}
.buttons h2 {
    color: rgba(78, 78, 78, .85);
    font-size: 120%;

    padding: 1em 0 3em 0;
}
.logowrapper {
    display: flex;
    justify-content: end;

    height: 3em;
}

.formrow {
    display: flex;
}
.formrow > div {
    flex-basis: 50%;
}
.labeledelement input, select {
    width: 100%;
}
.labeledelement {
    padding: 12px;

    color: #4E4E4E;
    font-weight: 500;
}
input, select, textarea {
    background-color: transparent;

    border: none;
    outline: none;

    font-family: 'Montserrat', sans-serif;

    padding: 1.5em 1em;

    border-bottom: 2px solid #5D5F61;
    
    box-sizing: border-box;

    transition: border-color .1s ease;
}
input:focus, select:focus, textarea:focus {
    border-color: #587C9C;
}
textarea {
    width: 100%;
    resize: none;
}
form button {
    background-color: #587C9C;
    border: none;

    font-family: 'Encode Sans Expanded', sans-serif;
    color: white;
    font-size: 150%;

    padding: .5em 3em;

    margin-top: 2em;
    margin-left: 12px;

    border-radius: .5em;

    cursor: pointer;

    transition: all .1s ease;
}
form button:hover {
    opacity: .7;
}

.floatmessage {
    top: 0;
    left: 0;

    width: 100%;
    
    font-family: 'Encode Sans Expanded', sans-serif;
    color: rgba(255, 255, 255, .7);
    text-align: center;

    background-color: #11395c;

    padding: 1em;

    box-sizing: border-box;
}

body > img {
    display: none;
}
.platformsimg  {
    width: 90%;
    margin-bottom: 2em;
}

@media only screen and (max-width: 750px) {
    body {
        display: block;
        background: linear-gradient(217deg, rgba(142,162,180,.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(214,214,214,.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(176,185,194,.8), rgba(0,0,255,0) 70.71%);
    }

    .imagecol {
        display: none;
        width: 0%;
    }
    .buttons {
        padding: 15% 0 0 0;
        width: 100%;
    }
    form button {
        margin: 2em auto;
        display: table;
    }

    body > img {
        height: 2em;

        display: block;
    }
}